.translate {
    position: absolute;  
    max-width: 450px;
    z-index: 9999999999;
     background-color: #f7f7f7;
     /* #e1e3e8;  */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 5px 10px;
}