html {
    background-color: #e1e3e8;
    width: 300px;
}
.text-input {
    width: 100%;
    height: 100px;
    margin: 10px 0px;
    resize: none;
    /* border-radius: 1px; */
}
.container {
    padding-top: 10px;
}
.trans {
    margin-left: 10px;
}
.choose-api {
    margin: 10px 0px;
}
.sizes {
    margin-top: 10px;
}
label:first-child {
    margin-right: 10px;
}
.row {
    text-align: center;
}
#result {
    /* margin: 5px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 5px; */
}
.btn-container {
    margin-bottom: 10px;
}